
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="container">
    <div>
        <br />
        <center style="font-family:'Times New Roman', Times, serif; font-size:xx-large">
            <b> Giới thiệu về Ustora</b>
        </center>
        <br />
        <left style="font-size: 15px">
            <b> GIỚI THIỆU CHUNG</b>
        </left><br />
        Công ty Ustora Mobile là một trong số những nhà bán lẻ Smartphone công nghệ hàng đầu Việt Nam. Công ty được thành lập từ năm 2022.
        <br /><br /><left style="font-size:15px">
            <b> TÔN CHỈ HOẠT ĐỘNG</b>
        </left><br />
        Ustora Mobile luôn hoạt động dựa trên tôn chỉ đặt khách hàng là trung tâm, mọi nỗ lực để đạt được mục tiêu cao nhất là làm hài lòng người dùng thông qua các sản phẩm được cung cấp và dịch vụ khách hàng. Ustora Mobile Mobile đang từng bước xây dựng dịch vụ khách hàng vượt trội, xứng đáng là đơn vị bán lẻ hàng đầu tại Việt Nam.

        Sự tin tưởng và ủng hộ nhiệt tình của quý khách hàng tại chuỗi chi nhánh đã phần nào khẳng định hiệu quả hoạt động của đội ngũ nhân viên Ustora Mobile.

        Đối với quý khách hàng, chúng tôi luôn đặt cái tâm làm gốc, làm việc với tinh thần nghiêm túc, trung thực và có trách nhiệm, để mang tới trải nghiệm dịch vụ tốt nhất.

        Đối với đồng nghiệp, chúng tôi đề cao văn hóa học hỏi, đoàn kết, tương trợ lẫn nhau tạo nên môi trường làm việc tôn trọng - công bằng - văn minh cho nhân viên trong công ty.

        Đối với các đối tác, Ustora Mobile luôn làm việc dựa trên nguyên tắc tôn trọng, cùng tạo ra giá trị cho cộng đồng và cùng phát triển bền vững.
        <br /><br /><left style="font-size: 15px">
            <b> TẦM NHÌN VÀ SỨ MỆNH</b>
        </left><br />
        Những năm qua, chúng tôi không ngừng cải thiện dịch vụ tại các chi nhánh và hỗ trợ khách hàng qua các kênh online.  Ustora Mobile cam kết mang đến những sản phẩm chất lượng và chế độ bảo hành uy tín, sẵn sàng hỗ trợ khách hàng trong thời gian nhanh nhất.

        Trong tương lai, Ustora Mobile sẽ tiếp tục mở rộng hệ thống chi nhánh, hướng tới mục tiêu có mặt tại 63 tỉnh thành trên toàn quốc. Đồng thời, nâng cao chất lượng dịch vụ, hạn chế những rủi ro, lắng nghe và tiếp thu góp ý của quý khách hàng nhằm đem đến trải nghiệm tốt nhất khi mua sắm tại Ustora Mobile.

        Cuối cùng, Ustora Mobile hy vọng sẽ trở thành nhà tiên phong đưa những sản phẩm công nghệ mới nhất đến tay người dùng sớm nhất, tạo ra cuộc sống hiện đại nơi công nghệ kết nối con người, công nghệ phục vụ con người.
    </div>
</div>
