
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br />
<h2>Thanh toán đơn hàng thành công</h2>
<h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
<a href="@Url.Action("HomePage", "Shop")" class="btn btn-success"><i class="fa fa-angle-left"></i>Trang chủ</a>


